@charset "UTF-8";

#album-fotos {
    width: 700px;
    margin: 0 auto;
    padding: 80px;
    overflow: hidden;
    list-style: none;
}

#album-fotos li {
    float: left;
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 5px solid #ffffff;
    background-color: #ffffff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    background-size: 200px 200px;
    transition: transform 0.5s;
}

#album-fotos li:hover {
    transform: scale(1.7);
}

li span {
    opacity: 0;
    display: block;
    float: left;
    margin-top: 177px;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 9pt;
    padding: 5px;
    transition: opacity 1s;
}

li:hover span {
    opacity: 1;
}

#foto01 {
    background: url('../_imagens/galeria-01.jpg') no-repeat;
}

#foto02 {
    background: url('../_imagens/galeria-02.jpg') no-repeat;
}

#foto03 {
    background: url('../_imagens/galeria-03.jpg') no-repeat;
}

#foto04 {
    background: url('../_imagens/galeria-04.jpg') no-repeat;
}

#foto05 {
    background: url('../_imagens/galeria-05.jpg') no-repeat;
}

#foto06 {
    background: url('../_imagens/galeria-06.jpg') no-repeat;
}